@font-face {
    font-family: 'BalooPaaji2-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('BalooPaaji2-Regular'),
        url('../fonts/BalooPaaji2-Regular.woff2') format('woff2'),
        url('../fonts/BalooPaaji2-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'BalooPaaji2-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('BalooPaaji2-Medium'),
        url('../fonts/BalooPaaji2-Medium.woff2') format('woff2'),
        url('../fonts/BalooPaaji2-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'BalooPaaji2-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('BalooPaaji2-Bold'),
        url('../fonts/BalooPaaji2-Bold.woff2') format('woff2'),
        url('../fonts/BalooPaaji2-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Manrope-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('Manrope-Regular'),
        url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-display: swap;
}