%baloo-400 {
    font-family: 'BalooPaaji2-Regular', sans-serif;
    font-weight: 400;
}

%baloo-500 {
    font-family: 'BalooPaaji2-Medium', sans-serif;
    font-weight: 500;
}

%baloo-700 {
    font-family: 'BalooPaaji2-Bold', sans-serif;
    font-weight: 700;
}

%manrope-400 {
    font-family: 'Manrope-Regular', sans-serif;
    font-weight: 400;
}